<section>
    <div class="container pt-10">
        <div class="row">
            <table class="table">
                <thead>
                    <tr style="cursor: pointer;" class="disable-selection">
                        <th (click)="sortTable('name')" [class.text-blue]="sortItem === 'name'">
                            Name
                            <i *ngIf="sortItem == 'name'" class="fa-solid position-absolute" style="margin-left: 5px;" [style.padding-top]="!ascending? '6px': '0px'" [class.fa-sort-up]="!ascending" [class.fa-sort-down]="ascending"></i>
                        </th>
                        <th (click)="sortTable('score')" [class.text-blue]="sortItem === 'score'">
                            Score
                            <i *ngIf="sortItem == 'score'" class="fa-solid position-absolute" style="margin-left: 5px;" [style.padding-top]="!ascending? '6px': '0px'" [class.fa-sort-up]="!ascending" [class.fa-sort-down]="ascending"></i>
                        </th>
                        <th (click)="sortTable('ranking')" [class.text-blue]="sortItem === 'ranking'">
                            Ranking
                            <i *ngIf="sortItem == 'ranking'" class="fa-solid position-absolute" style="margin-left: 5px;" [style.padding-top]="!ascending? '6px': '0px'" [class.fa-sort-up]="!ascending" [class.fa-sort-down]="ascending"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData; let i = index" [class.table-active]="i%2 === 0">
                        <td>{{item.name}}</td>
                        <td>{{item.score}}</td>
                        <td>{{item.ranking}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- categories -->
<section class="mb-3">
    <div class="container pt-10">
        <div class="row align-items-end">
            <div class="col-8 col-md-6">
                <span class="eyebrow text-muted">Shop by category</span>
                <h2>Trending Categories</h2>
            </div>
            <div class="col-4 col-md-6 text-right">
                <a href="" class="underlined">View More</a>
            </div>
        </div>
        <div class="row gutter-1">
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/product-5.jpg')"></span></div>
                        <figcaption>Dresses</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/product-6.jpg')"></span></div>
                        <figcaption>Shoes</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/product-3.jpg')"></span></div>
                        <figcaption>Skirt</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/product-4.jpg')"></span></div>
                        <figcaption>Jewelery</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/product-1.jpg')"></span></div>
                        <figcaption>Blouses</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/product-2.jpg')"></span></div>
                        <figcaption>Swimwear</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/category-2.jpg')"></span></div>
                        <figcaption>Bodysuit</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="">
                    <figure class="category category--alt">
                        <div class="equal"><span class="image"
                                style="background-image: url('assets/images/demo/category-1.jpg')"></span></div>
                        <figcaption>Sunglass</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>