<nav aria-label="breadcrumb" class="navbar bg-white breadcrumb-bar">
    <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
            <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
        </li> -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Overview</a>
                </li>
                <li class="breadcrumb-item"><a href="pages-app.html#">App Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
        </nav>
    </ol>
</nav>