.ellipsis-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Adjust the max-width as needed */
}

.table tbody tr.focus-custom:hover td {
    /* background-color: #f5f5f5 !important; */
    color: #007bff;
    cursor: pointer;
    /* Change this to your desired hover color */
}

.table tbody tr.focus-custom.even td {
    background-color: #f1f1f1 !important;
}

.pagination .page-item .page-link {
    cursor: pointer;
}

/* .pagination .page-item.disabled a.page-link {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
} */

.pagination .page-item.disabled a.page-link.buttons {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}